body{
  background: url(https://i.pinimg.com/736x/87/70/41/8770417c9c5002e67450c4b70d3aeaa8.jpg) center/cover no-repeat
}
.race{
    position: relative;
    width:200px;
    height:200px;
    margin:40px;
}
#racer1{
    width:90px;
    height: 120px;
    border-radius: 20px;
    border:5px black;
    position:absolute;
    left:550px;
    animation:race1 10s linear infinite;
    top:200px;
}
#racer2{
    width:90px;
    height:120px;
    border-radius: 20px;
    animation:race2 6s linear infinite;
    position: absolute;
    top:200px;
    left:730px;
}
@keyframes race1 {
    from{top:200px}
    to{top:50px}
}
@keyframes race2 {
    from{top:200px}
    to{top:50px}
    
}
